*{
    margin: 0 auto;
}

button{
    font-size: 26;
}

label{
    list-style-type: none;
}

.product{
    :nth-child(4){
        font-size: 26px;
        color: #DEAD6F;
    }

    img{
        background-color: #EEEBE5;
        gap: 20px;
        border-radius: 10px;
        
    }

h3{
    font-size: 26;
}

    .buttons{
        display: flex;
        align-items: center;
        gap: 1rem;
        

        button:nth-child(1){
            padding: 1rem;
            background: transparent;
            border: 1px solid #EEEBE5;
            margin-bottom: 30px;
            color: #41403E;
        }
         button:nth-child(2){
            padding: 1rem;
            background: transparent;
            border: 1px solid #EEEBE5;
            margin-bottom: 30px;
            color: #41403E;
        }
        button:hover {
            background-color: #DEAD6F;
        }
    }
}
