footer {
    background-color: #F7EEE4;
    height: 150px;
    justify-content: center;
    display: block;
    text-align: center;
    padding-top: 100px;
}

h1{
    color: #908F8D;
    margin-bottom: 10px;
}

h2 {
    color: #000000;
}