@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chilanka", cursive;
  

}

.text_accent {
  color: #DEAD6F;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.hero {
  background: #F9F3EC;
  padding: 80px 0;

  &__inner {
    margin: 0 auto;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  &__image img{
    width: 100%;
    object-fit: cover;
  }

  &__label {
    color: #DEAD6F;
    font-size: 18px;
    letter-spacing: 10%;
  }

  &__title {
    font-size: 74px;
    margin: 20px 0 30px;

    span {
      color: #DEAD6F;
    }
    
}
.btn {
      padding: 28px 74px;
      border: 1px solid #41403E;
      background: transparent;
      border-radius: 4px;
      font-size: 19px;
      color: #41403E;

    }
  @media (max-width: 720px) {
 .hero__content {
  text-align: center;
 }
}

}



.offer {
  background: #F9F3EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 640px;
    position: relative;
    z-index: 0;

    input {
      background: #fff;
      border: 1px solid #41403e40;
      padding: 20px; 
      width: 100%;
      
      }
      
    input::placeholder {
         font-family: "Chilanka", cursive;
         font-size: 17px;
      }

    button {
        background: #41403E;
        padding: 20px; 
         color: #fff;
         text-transform: uppercase;
         font-family: "Chilanka", cursive;
         font-size: 19px;
         width: 100%;
      }
  }

}

.gallery {
  padding: 85px 10px;

 &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer {
  padding: 48px 0;
  background: #F7EEE4;
  text-align: center;

  &__copy {
    color: #908F8D;
    margin-bottom: 14px;
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }}